* {
    box-sizing: border-box;
}

h2{
    text-align: center;
}

@media (max-width: 600px) {
    .content{
        width: 100%;
        margin: 0 auto;
    }    
}
@media (min-width: 601px) { 
    .content{
        width: 600px;
        margin: 0 auto;
    }
}

.twitter-tweet{
    margin: 0 auto;
}

.options{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: wrap;              /* default value; can be omitted */
    justify-content: center; /* switched from default (flex-start, see below) */
}

blockquote {
    margin: 1.5em 10px;
    padding: 15px;
}
blockquote:before {
    color:#69bde6;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
blockquote:after {
    color:#69bde6;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.6em;
}
blockquote p {
    display: inline;
}

#thanks-modal{
    display: none;
}